:local(.content) {
  position: relative;
  top: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  width: 100%;
}

:local(.container) {
  @media (min-width: 1024px) {
    width: 1024px;
  }

  @media (max-width: 1023px) {
    .this-class { font-size: 20px; }

    width: 100%;
  }
}
